h1 {
    padding: 15px;
}

section {
    padding: 10px;
    margin: 2vh;
}

button {
    margin: 10px;
}

#tagContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tag {
    flex: 0 0 auto;
    border: solid orange;
    border-radius: 20px;
    padding: 10px;
}

.tag:hover {
    background-color: orange;
}

.tag:hover>span {
    background-color: orange;
}