main {
    flex: 1;
    overflow: auto;

    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #fbf7f5;
}

@media (max-width: 600px) {
    main {
        max-width: 100vw;
        margin: 10px;
    }
}