h1 {
    padding: 15px;
}

section {
    padding: 10px;
    margin: 2vh;
}

button {
    margin: 10px;
}

.tag {
    border: solid orange;
    border-radius: 20px;
    padding: 10px;
}

.tag:hover {
    background-color: orange;
}