main {
    display: flex;
    flex: 1;
    overflow: auto;
    height: 100%;

    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #fbf7f5;
}

.text-aline-center {
    text-align: center;
}

.tagTitleSpacing {
    padding: 10px 0px 10px 5px;
}

.buttonContainer {
    display: flex;
    padding: 10px 0px 0px;
    justify-content: space-between;
    text-align: center;
}

hr {
    margin: 16px 16px;
}

.newPostBtn {
    visibility: hidden;
    animation-name: popIn;
    animation-duration: 300ms;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.comment-form-control {
    display: inline;
}

.outOfFocus {
    opacity: 0.8;
}

.tag {
    border: solid orange;
    border-radius: 20px;
    padding: 7px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.story {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}


@keyframes popIn {
    to {
        visibility: visible;
    }
}

@media (max-width: 600px) {
    main {
        max-width: 100vw;
        margin: 10px;
    }
}