/* 
    off-white-green: #cdd1c0
    light-green: #a2c67c
    green: #649543
    dark-green: #30632a
    light-gray: #c4c3bf

    inspired by: https://9artprints.com/cdn/shop/files/after-josef-albers-grove-homage-to-the-square-premium-giclee-print-mid-century-modern-art-print-in-green-white-available-framed-1x1-923422.jpg
    and: https://waapple.org/
    */

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

* {
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #fbf7f5;
}

h1,
h1,
h2,
h3,
h4 {
    font-family: Calistoga;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#loginBox {
    flex-grow: 4 0 100px;
}

#artBox {
    flex: 1 30 200px;
}

img {
    max-width: 80%;
    max-height: 50vh;
}

.shrink {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

#storyBox {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 300px;
}

input {
    accent-color: orange;
}

.inputBox {
    margin: 5px;
    ;
}

header,
footer {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p,
footer a {
    margin: 1vh;
}

footer a {
    color: #212529
}

header {
    padding: 10px;
}

header,
header * {
    background-color: rgb(150 150 150);
}

.headerLink {
    margin: 6px;
    color: #d5d5d5;
}

.headerLink:hover {
    color: #fbf7f5;
}


#usernameHeader,
#usernameHeader * {
    color: #fbf7f5;
}

header a {
    text-decoration: none;
}

@media(max-width: 460px) {
    #usernameText {
        display: none;
    }
}

@media (max-width: 360px) {
    .ultraCompactHidable {
        display: none;
    }

}

@media (orientation: portrait) {
    #storyBox {

        max-width: 80vw;
    }
}